@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&family=Raleway:wght@400;700&display=swap');


//font-family
$old: 'Old Standard TT', serif;
$raleway: 'Raleway', sans-serif;

//font-weidth
$regular: 400;
$bold: 700;

//font-size
$xxx-large: 50px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

//colors
$White: #FFF;
$Isabelline: #ECECEC;
$Light-gray: #D1D1D1;
$Smoky-black: #0C0910;
$Granite-Gray: #646266;
$Quick-Silver: #A6A5A8;


//breackpoints
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;